/* contient les fichiers qui definissent es fondations de votre site, 
par exemple la police de caractere et les normes que vous voulez appliquer 
sur tout votre site, telles que le box-sizing*/


* {box-sizing: border-box;margin: 0;padding: 0;}
body {font-size: 16px;}
a {text-decoration: none;  color: inherit}
