@mixin font-xl {
  font-family: $font-text;
  font-size: 1.6rem;
  font-weight: bold;
}

@mixin font-normal {
  font-family: $font-text;
  font-size: 1.1rem;
  font-weight: 300;
}
@mixin button {
  width: 220px;
  height: 60px;
  margin-top: 30px;
  font-size: 1rem;
  font-family: $font-text;
  text-align: center;
  background: linear-gradient(to top, $color-primary  0%, $color-secondary  100%);
  color: $cd-btn-color;
  box-shadow: $cd-btn-shadow;  
  border-radius: 10rem;
  border: none;  
  cursor: pointer;
  transition: all 250ms;
  position: relative;
  z-index: 1;
  overflow: hidden;
  opacity: 1;
}
@mixin button--after {
        width: 220px;
        height: 60px;
        font-size: 1rem;
        font-family: $font-text;
        text-align: center;
        background: linear-gradient(to top, lighten($color-primary, 50) 0%, lighten($color-secondary, 50) 100%);
        color: $cd-btn-color;
        box-shadow: 4px 4px 5px darken(#000, 80%);  
        border-radius: 10rem;
        border: none;  
        cursor: pointer;        
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: all 250ms;       
        opacity: 0;
}