@mixin font-xl {
  font-family: $font-text;
  font-size: 1.6rem;
  font-weight: bold;
}

@mixin font-normal {
  font-family: $font-text;
  font-size: 1.1rem;
  font-weight: 300;
}
@mixin button {
  width: 220px;
  height: 60px;
  margin-top: 30px;
  font-size: 1rem;
  font-family: $font-text;
  text-align: center;
  background-image: $cd-btn-start;
  color: $cd-btn-color;  
  border-radius: 10rem;
  box-shadow: $cd-btn-shadow;
  border: none;
  cursor: pointer;   
  transition: all 400ms;
}