/* Colors */
$color-primary: rgba(147, 86, 220, 1);
$color-secondary: rgba(255, 121, 218, 1);
$color-tertiary: rgba(153, 226, 208, 1);
$color-bg: #f6f6f6;
$border-shadow: linear-gradient(rgba(0, 0, 0, 0.121), rgb(246, 246, 246)) 80;

/*  Fonts */
$font-title: 'Shrikhand', cursive;
$font-logo: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;
 
/* Button */
$cd-btn-color: #fff;
$cd-btn-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
