.footer {
  width: 100%;
  height: 210px;
  background-color: #363636;
  padding: 30px;
  font-family: $font-text;
  color: #fff;
    &__logo  {
      filter: invert(96%) sepia(0%) saturate(7468%) hue-rotate(120deg) brightness(104%) contrast(98%);
      width: 30%;                
    }
    ul {margin-top: 15px;display: flex; flex-direction: column; justify-content: center;}
    li {list-style-type: none;font-size: 0.9rem;margin: 5px 0;font-size: 0.8rem;font-weight: 300;}         
    &__bloc {          
      display: flex;
      align-items: center;
      .margin {margin-left: 5px;}
      li {margin-left: 5px;font-weight: 400;}                
  }
}