/* dossier contenant ce qui est reutilisable, par exemple un header pour 
les mises en page de grande taille ou un footer*/


.header {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 75px;
    background-color: white;   
        &__logo {      
            width: 50%;     
      }
   }

   .restaurant__cards {
    
   }